.bigimg {
    position: relative;
    text-align: center;
<<<<<<< HEAD
    color:$primary-1;
    text-shadow: 5px 5px 1px $text, -2px -2px 1px $text;
=======
    color: rgba(255, 255, 255, 0.664);
>>>>>>> master
    
}

.intro {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
<<<<<<< HEAD
    animation: fadein 3s 2s ease-in;
    h1 {
        font-size: 10em;
        // text-shadow: 2px 1px 1px 1px black;
    }
}

@keyframes fadein {
    from { top: -350px;
          
    }
    to { top: 50px;

=======
    h1 {
        font-size: 10em;
        text-shadow: 2px 1px 1px 1px black;
>>>>>>> master
    }
}