<<<<<<< HEAD
@media all and (max-width: 1080px) {
    // header photo text
    .intro {
        font-size:0.4em;
    }
}

@media all and (max-width: 768px) {
    // header photo text
    .intro {
        font-size:0.4em;
    }

    // booking section
    .intro-booking {
            h1 {
        font-size: 1em;
            }
    }

    .res-container {
        padding: 1em 2em ;
=======
@media all and (max-width: 768px) {
    // header photo text
    .intro {
        font-size:0.5em;
>>>>>>> master
    }
}

@media all and (max-width: 624px) {

// hamburger menu    
    .menu {
        display: block;
        position: absolute;
        right: 10px;
        top: 0px;
    }
    
    .navbar {  
        flex-direction: column;
        .navi-list {
            background-color: $primary-2;
            width: 100%;
            text-align: center;
            display: none;
                  
            .list-item {
                display: block;
                padding: 10px 0px;
                border-top: 1px solid white;
                a {
                    color: white;
                        &:hover {
                            color: $primary-1;

                        }
                }
            }
        }
        .active {
            display: block;
        }
<<<<<<< HEAD
    }
        // header photo text
        .intro {
            font-size:0.5em;
        }

        // booking section
        .intro-booking {
            margin:0;
            h1 {
            font-size: 0.5em;
            }
=======

        // header photo text
        .intro {
            font-size:0.1em;
        }
>>>>>>> master
    }

// back to top
    #Btn {
        // display: none;
        position: fixed;
        bottom: 20px;
        right: 30px;
        z-index: 99; 
        border: none; 
        outline: none;
        background-color: $primary-2; 
        color: white; 
        cursor: pointer; 
        padding: 15px; 
        border-radius: 10px; 
        font-size: 18px;
      }
      
      #Btn:hover {
        background-color: $primary-3;
      }
}   

@media all and (max-width: 375px) {
// back to top
    #Btn {
        display: none;
        position: fixed;
        bottom: 20px;
        right: 30px;
        z-index: 99; 
        border: none; 
        outline: none;
        background-color: $primary-2; 
        color: white; 
        cursor: pointer; 
        padding: 15px; 
        border-radius: 10px; 
        font-size: 18px;
         &:hover {
            background-color: $primary-3;
         }
      }

// header photo text
    .intro {
        font-size:0.2em;
<<<<<<< HEAD
        text-shadow: 2px 2px 1px $text, -1px -1px 1px $text;
=======
>>>>>>> master
    }

// about section      
    .about {
        font-size: small;
    }

<<<<<<< HEAD
// booking section
    .intro-booking {
            h1 {
        font-size: 0.4em;
        text-shadow: 2px 2px 1px $text, -1px -1px 1px $text;
            }
    }

=======
>>>>>>> master

}
