body {
    margin:0;
}

.navbar {
    background-color: white;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-around;
    box-shadow: 0px 1px 3px rgb(241, 241, 241);
    padding: 0.5em;
    align-items: center;
    z-index: 100;

    .navi-list {
      list-style: none;

        .list-item {
            display: inline-block;
            padding: 0px 10px;
            transition: 0.5ms;

            a {
                color: $text;
                text-decoration: none;
                transition: 0.5s;

                &:hover {
                    font-size:larger;
                    text-decoration: underline;
                    color: $primary-2;
                }
            }
        }
    } 

    #logo {
        align-self: center;
        height:2em;
        width:2em;
        // padding-left: 1.5em;
    }
}

.download {
    background-color: $primary-1;
    color: $text;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-style: none;
    white-space: nowrap;
    padding: 1em;
    border-radius: 1em;
    box-shadow: 0px 1px 2px grey;
    transition: 0.5s;

    &:hover {
        background-color: $primary-2;
        color: white;
    }
}

.menu {
    padding: 1em;
    padding-top: 1.6em;
    display: none;
}

.line {
    height: 3px;
    width: 20px;
    background-color: $primary-2;
    margin-bottom: 4px;
} 

#Btn {
    display: none;
}

