.residents {
    border-bottom: 2px dotted $primary-3;
    padding-top: 1em;
    position: relative;
    &::after {
        content: "";
        background-image: url(/Images/animal-crossing-wallpaper.original.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        opacity: 30%;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: absolute;
        z-index: -1;
    }
}

.res-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 1em 5em ;
}

.title {
    text-align: center;
    color: $text;
}

#prof-pic {
    background-color: white;
    padding: 1em 1.5em;
    margin-top:1.5em;
    border-radius: 10px;
    border: 1px solid;
}

.flip-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    width: 300px;
    height: 320px;
    margin: 1em 1em;
    perspective: 1000px;
    
  }
  
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }
  
  .flip-card-front {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: $primary-1;
    color: $text;
    padding: 0.5em;
    box-shadow: 0 1px 5px black;
  }
  
  .flip-card-back {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: $primary-3;
    color: $text;
    padding: 0.5em;
    box-shadow: 0 1px 5px black;
    transform: rotateY(180deg);
  }



