@import "_styles";
@import "_navbar";
@import "_residents";
@import "_header";
@import "_about";
@import "_footer";
@import "_media-queries";
@import "_hotspots";
@import "_booking";
// @import "_popup";